/* 主页css样式 */
.zhuye {
    /* 弹性布局 */
    display: flex;
    /* 使三个部分分隔一段距离 */
    gap: 20px;
}

/* 主页的两个侧边的样式 */
.zhuye-cebian {
    /* 使每个侧边占一个空间 */
    flex: 1;
}

/* 主页中间的样式 */
.zhuye-middle {
    /* 是中间占三个空间 */
    flex: 3;
}

/* 大标题样式 */
.title {
    /* 放中间 */
    text-align: center;
    /* 加边框：5像素，虚线，黑色 */
    border: 5px dashed rgb(0, 0, 0);
}

/* 布 */
.bu {
    position: relative;
    height: 870px;
    /* 透明画布 */
    background-color: rgba(255, 0, 0, 0);
}

/* 导航栏的位置设为固定 */
.daohang {
    position: fixed;
    right: 5%;
    /* 字体大小 */
    font-size: 20px;
    /* 距离顶上的距离 */
    top: 20px;
}

/* 导航栏的<a>标签 */
.daohang a {
    /* 白色 */
    color: rgb(255, 255, 255);
    /* 取消下划线 */
    text-decoration: none;
    /* 设置粗细度 */
    font-weight: bold;
}

/* 开始网页的大标题 */
.btitle {
    font-size: 70px;
    position: absolute;

    /* 使标题在中间显示 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(255, 255, 255);
}

/* 开始大背景 */
.bg {
    position: absolute;

    /* 使背景在中间显示 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 末尾空白 */
.None {
    position: relative;
    height: 500px;
    background-color: rgba(255, 0, 0, 0);
}