.zhuye {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.zhuye-left,
.zhuye-right {
    background: rgb(255, 255, 255);
}

.zhongjian {
    grid-column: 2 / 3;
    background: rgb(255, 255, 255);
}

#title {
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}