/* 主页css样式 */
.zhuye {
    /* 弹性布局 */
    display: flex;
    /* 使三个部分分隔一段距离 */
    gap: 20px;
}

/* 主页的两个侧边的样式 */
.zhuye-cebian {
    /* 使每个侧边占一个空间 */
    flex: 1;
}

/* 主页中间的样式 */
.zhuye-middle {
    /* 是中间占三个空间 */
    flex: 3;
}

/* 大标题样式 */
.title {
    /* 放中间 */
    text-align: center;
    /* 加边框：5像素，虚线，黑色 */
    border: 5px dashed rgb(0, 0, 0);
}

/* 导航栏的位置设为固定 */
.daohang {
    position: fixed;
    right: 3%;
    /* 字体大小 */
    font-size: 18px;
    /* 距离顶上的距离 */
    top: 10px;
}

/* 导航栏的<a>标签 */
.daohang a {
    /* 白色 */
    color: rgb(0, 0, 0);
    /* 取消下划线 */
    text-decoration: none;
    /* 设置粗细度 */
    font-weight: bold;
}

/* 导航栏背景布 */
.daohangbg {
    /* 固定 */
    position: fixed;
    /* 长度为百分百 */
    width: 100%;
    /* 高度50像素 */
    height: 45px;
    /* 位置在网页头顶 */
    top: 0%;
    left: 0%;
    /* 背景淡青色 */
    background: rgba(0, 255, 255, 0.3);
}

/* 导航栏左标题 */
.daohangbg h2 {
    color: rgb(0, 0, 0);
    /* 距离顶上7像素 */
    margin-top: 7px;
    /* 距离左边20像素 */
    margin-left: 50px;
}

/* 开始网页的大标题 */
.btitle {
    font-size: 60px;
    position: absolute;

    /* 使标题在中间显示 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(255, 255, 255);
}

/* 末尾空白 */
.None {
    position: relative;
    height: 514px;
    background-color: rgba(255, 0, 0, 0);
}

/* 声明 */
.shengMing {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
